.vscode/

__pycache__/
*.egg-info/

*.py[cod]
*$py.class
*.ipynb_checkpoints

dist/
examples/wip/
docs/build/
doatools.code-workspace
build/
.idea/doatools.py.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.svg
.idea/workspace.xml
.idea/pydoatools.iml
